[Unit]
Description=Droid mount for /system
Before=local-fs.target systemd-modules-load.service

[Mount]
What=/dev/sda24
Where=/system
Type=ext4
TimeoutSec=5

[Install]
WantedBy=local-fs.target
