[Unit]
Description=Droid mount for /vendor/lib/libsdedrm.so
Before=local-fs.target
After=vendor.mount

[Mount]
What=/usr/libexec/droid-hybris/system/lib/libsdedrm.so
Where=/vendor/lib/libsdedrm.so
Type=none
Options=ro,bind
TimeoutSec=5

[Install]
WantedBy=local-fs.target
