service vendor.camera-motor-1-0 /usr/libexec/droid-hybris/vendor/bin/hw/vendor.lineage.camera.motor@1.0-service.xiaomi_davinci
    interface vendor.lineage.camera.motor@1.0::ICameraMotor default
    class hal
    user system
    group system
    shutdown critical

service vendor.motor /vendor/bin/hw/vendor.xiaomi.motor_HYBRIS_DISABLED
    disabled
    override

